<launch>
    <node name="ypspur_ros" pkg="ypspur_ros" type="ypspur_ros" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="param_file" value="/home/deguchi-a/researches/programs/platform/yp-robot-params/robot-params/M1.param"/>
    </node>
        
     <node name="robot_controller" pkg="robot_control" type="robot_controller" output="screen">
     </node>

     <node name="mission_planner" pkg="robot_control" type="mission_planner" output="screen">
     </node>
</launch>